.home-body{
    position: relative;
    margin-top: 10px;
    background-color: transparent;
}

.home-body .slider-container {
    position: relative;
    height: auto;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
}

.list-container{
    z-index: 100;
    margin-top: -200px;
}

@media (min-width: 768px) {
    .list-container {
        margin-bottom: 115px;
    }
}

@media (min-width: 992px) {
    .list-container {
        margin-bottom: 46px;
    }
}

.listElement{
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    font-size: 10px;
}

/******     Top Product     *******/

.tp_bg{
    position: relative;
    background-color: #E2E6EB;
    height: auto;
    padding: 1px;
}

.mym-15{
    margin-left: 15px;
    margin-right: 15px;
}

.selecting-section{
    position: relative;
    width: auto;
}

.selecting-section .card img{
    position: relative;
    padding-top: 8px;
}

.txt-12{
    font-size: 12px;
}

.card-price{
    font-size: 23px;
}

.border-5{
    border-radius: 5px;
}



/*****      Top Deals       ******/

.td_bg{
    position: relative;
    background-color: #E3EFF9;
    height: auto;
    padding: 1px;
}

.discount-bg{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #98CE00;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;
    color: #000;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 2px;
}



/*********      Footer      ***********/

.footer-bg{
    position: relative;
    background-color: #243a51;
    color: white;
}

.footer-bg h6{
    margin-bottom: 15px;
}

.footer-bg a{
    color: white;
    font-size: 15px;
}

.btn-floating {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}